@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ============= GLOBAL CSS =============== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --textColor: #000000;
  --menuLinksColor: #000000;
  --hyperlinksColor: #696969;
  --onHoverColor: #6ff8fc;
  --backgroundColor: #ffffff;
  --backToTopBackgroundColor: #ffffff;
  --loading: #645cff;
  --loading-space: #94a3b8;
}

body {
  margin: 8px;
  background: var(--backgroundColor);
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: var(--textColor);
}

p {
  margin: 0;
  font-size: clamp(0.875rem, 1.1vw, 1.1rem);
}

a {
  text-decoration: none;
  color: var(--hyperlinksColor);
}

a:hover {
  color: var(--onHoverColor);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-transform: capitalize;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

div {
  white-space: pre-wrap;
}

.wrapper {
  max-width: 960px;
  margin: 150px 0 150px;
  margin-inline: auto;
}

.title {
  text-align: center !important;
}

.min-height {
  min-height: 80vh;
}

.cat-link-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--menuLinksColor);
  font-family: "Open Sans", sans-serif !important;
  padding: 0 5px;
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
}

/* ==========alert========== */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--loading-space);
  border-radius: 50%;
  border-top-color: var(--loading);
  animation: spinner 0.6s linear infinite;
  margin: 50% auto;
}

/* ==========category menu========== */

.categories-container {
  padding: 0 8px 32px;
  text-align: center;
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  font-family: "Open Sans", sans-serif !important;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.link-active {
  color: var(--onHoverColor) !important;
}

.none {
  text-decoration: underline !important;
  color: var(--menuLinksColor);
  text-decoration-color: var(--onHoverColor) !important;
}

a:hover.none {
  text-decoration: none !important;
}

/* ==========hero========== */

.getInTouch-hero,
.aboutMe-hero {
  padding: 32px 8px 0;
  margin-inline: auto;
  line-height: 1.5;
}

.getInTouch-hero h2 {
  text-align: center;
}

.getInTouch-hero {
  text-align: left;
}

.hero-heading h2 {
  font-family: "Open Sans", sans-serif !important;
}

.logo-container {
  display: inline !important;
}

.logo-links {
  vertical-align: middle !important;
  align-self: center !important;
  align-items: center !important;
}

.logo {
  padding: 0 5px;
  max-width: clamp(3.5rem, 17vw, 11rem);
  filter: grayscale(100%);
  align-self: center !important;
  align-items: center !important;
}

.logo:hover {
  filter: grayscale(0%);
}

/* ==========cards========== */

.card-container,
.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 24px 0;
  padding: 0 8px;
}

.card-left {
  padding-top: 25px;
  padding-right: 8px;
}

.card-right {
  padding-top: 25px;
}

.card-img {
  max-width: 100%;
  border-radius: 10px;
}

.cat-info {
  padding: 32px 8px;
}

.cat-contact {
  text-align: center;
  padding: 64px 8px 0;
}

/* ==========scroll up========== */

.hidden {
  display: none;
}

.showButton {
  position: fixed;
  color: var(--menuLinksColor);
  background-color: var(--backToTopBackgroundColor);
  border-radius: 50%;
  padding: 4px;
  right: -100px;
  bottom: 50px;
  font-size: 35px;
  cursor: pointer;
  transform: translate(-150px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-150px);
  }
}

/* ==========back to home triangle========== */

.back-to-home-container .back-to-home {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 10 !important;
}

.back-to-home-btn {
  transform: rotate(-90deg);
  font-size: 1000%;
  stroke-width: 0;
  color: var(--menuLinksColor);
  fill: var(--menuLinksColor);
}

/* ==========footer========== */

.footer-wrapper {
  position: static;
  text-align: start;
}

.footer {
  max-width: 960px;
  margin-inline: auto;
  padding: 0 8px 5px;
  font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  text-decoration: underline;
}

/* ============= MEDIA QUERIES =============== */

@media screen and (max-width: 450px) {
  .back-to-home-btn {
    font-size: 500%;
  }
}
